body {
  background-color: rgb(172, 83, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

h1 {
  color: rgb(172, 83, 255) ;
}

.App {
  text-align: center;
  background-color: rgb(241, 241, 241);
  width: 500px;
  height:auto;
  border-radius: 15px;
  padding: 10px;
  position: relative;
  top: 80px;
}

label {
  display: block;
  font-weight: 700;
  color: rgb(172, 83, 255);
  margin-bottom: 3px;
}

input{
  width: 300px;
  padding: 8px;
  border-radius: 20px;
  border: 1px solid rgb(187, 187, 187);
  background-color: transparent;
}



.error {
  color: rgb(255, 255, 255);
  font-size: small;
  background-color: rgb(172, 83, 255);
  padding: 5px;
  border-radius: 8px;
  margin-top: 3px;
  width: 300px;
  position: absolute;
  left: 105px;
}

button {
  padding: 8px;
  border-radius: 8px;
  width: 150px;
  color: #fff;
  background-color: rgb(172, 83, 255);
  transition: 0.5s;
}

button:hover{
  background-color: transparent;
  color: rgb(172, 83, 255) ;
}